Repository deriv-com/binary-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix

feat: :zap: Added manage funds buttons for wallets account
  src/components/Header/account-actions.jsx
  src/config.js
Due: prettier --write, npx eslint --fix

feat: :zap: updated deposit to manage funds for mobile
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
Due: prettier --write, npx eslint --fix

chore: updated outdate deps
  package-lock.json
  package.json
Due: none

fix: :bug: show manage-funds for virtual account for wallets
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/account-actions.jsx
Due: prettier --write, npx eslint --fix

fix: some error on trackJS
  src/utilities/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

fix: reverted .then
  src/utilities/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

refactor: fixed server url to be red if unofficial also show warning if unofficial
  404.md
  README.md
  docs/Bot.md
  src/botPage/view/TradeInfoPanel/index.js
  src/botPage/view/react-components/OfficialVersionWarning.js
  src/botPage/view/react-components/official-version-warning.scss
  src/components/Endpoint/Endpoint.jsx
  src/constants.js
  src/routes/Routes.jsx
  src/storage.js
Due: prettier --write, npx eslint --fix

fix: :fire: updated list of official binary-bot domains
  src/constants.js
  src/routes/Routes.jsx
  src/storage.js
Due: prettier --write, npx eslint --fix

feat: created a permanent banner to move to deriv for binary bot
  src/assets/css/_dbot-banner.scss
  src/assets/css/_mixins.scss
  src/assets/css/_variables.scss
  src/assets/css/bot.scss
  src/assets/css/index.scss
  src/components/Banner/fixed-dbot-banner.jsx
  src/components/Banner/fixed-dbot-banner.scss
  src/components/Banner/move-to-dbot-banner.jsx
  src/components/Banner/redirect-to-dbot.js
  src/components/Main/main.jsx
Due: prettier --write, npx eslint --fix

fix: add staging redirection
  src/components/Banner/fixed-dbot-banner.scss
  src/components/Banner/redirect-to-dbot.js
Due: prettier --write, npx eslint --fix

fix: staging redirection using util method
  src/blockly/index.js
  src/common/appId.js
  src/components/Banner/fixed-dbot-banner.scss
  src/components/Banner/redirect-to-dbot.js
  src/components/Error/bot-unavailable-message-page.jsx
  src/components/Header/platform-dropdown.jsx
  src/components/Main/main.jsx
  src/config.js
  src/storage.js
  src/utils.js
Due: prettier --write, npx eslint --fix

fix: remove commented line
  src/assets/css/index.scss
Due: prettier --write

fix: styling changes
  src/assets/css/index.scss
Due: prettier --write

fix: remove margin top of banner container
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write

fix: removed margin top on mobile
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write

fix: warning icon
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write

fix: height and padding on responsive
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write

fix: icon position to be top on mobile
  src/components/Banner/fixed-dbot-banner.scss
  webpack.config.js
Due: prettier --write, npx eslint --fix

fix config
  webpack.config.js
Due: prettier --write, npx eslint --fix

chore: :zap: fixed official versioning waring for mobile
  src/assets/css/bot.scss
  src/botPage/view/react-components/OfficialVersionWarning.js
  src/botPage/view/react-components/official-version-warning.scss
Due: prettier --write, npx eslint --fix

fix: removed duplicate imports
  src/api-base.js
Due: prettier --write, npx eslint --fix

chore: added permanent banner translation
  src/translations/en/i10n.json
  src/translations/es_ES/i10n.json
  src/translations/fr_FR/i10n.json
  src/translations/pt_PT/i10n.json
  src/translations/ru_RU/i10n.json
  src/translations/th_TH/i10n.json
  src/translations/vi_VN/i10n.json
Due: none

chore: working on workflows to mitigate the issues
  .github/actions/build_and_push_docker_image/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/versioning/action.yml
Due: none

chore: fixed var issue
  .github/actions/build_and_push_docker_image/action.yml
Due: none

chore: removed env variables as they are not needed anymore
  .github/actions/build_and_push_docker_image/action.yml
Due: none

Revert "chore: fixed var issue"
  .github/actions/build_and_push_docker_image/action.yml
Due: none

Revert "chore: working on workflows to mitigate the issues"
  .github/actions/build_and_push_docker_image/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/versioning/action.yml
Due: none

chore: fixing the versioning workflow
  .github/actions/versioning/action.yml
Due: none

chore: updating the slack workflow and test staging
  .github/actions/send_slack_notifications/action.yml
  .github/workflows/release_staging.yml
Due: none

chore: added glob vars before steps
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: added vars back to steps instead of glob
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: fixed indentation and var input
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: updated vars to inputs
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: added custom job in the workflow -- experimental
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: updated vars for failing step
  .github/actions/send_slack_notifications/action.yml
  .github/workflows/release_staging.yml
Due: none

chore: removed env from the steps
  .github/actions/send_slack_notifications/action.yml
Due: none

chore: added vars to docker workflow
  .github/actions/build_and_push_docker_image/action.yml
  .github/workflows/release_staging.yml
Due: none

chore: added missing vars
  .github/actions/build_and_push_docker_image/action.yml
Due: none

chore: uncommented slack notification for staging
  .github/actions/send_slack_notifications/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

chore: :fire: updated jest dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,mustache,css,scss,}
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
