Repository deriv-com/binary-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,mustache,css,scss,}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix"
}

refactor: :fire: Removed outdated binary indicators package
  package-lock.json
  package.json
  src/blockly/bot/Interface/IndicatorsInterface.js
  src/blockly/bot/Interface/indicators/bb.js
  src/blockly/bot/Interface/indicators/ema.js
  src/blockly/bot/Interface/indicators/index.js
  src/blockly/bot/Interface/indicators/macd.js
  src/blockly/bot/Interface/indicators/math.js
  src/blockly/bot/Interface/indicators/rsi.js
  src/blockly/bot/Interface/indicators/sma.js
  src/blockly/bot/__tests__/block-tests/indicators.js
Due: prettier --write, npx eslint --fix

chore: pin github actions
  .github/workflows/release_production.yml
Due: none

fix: get a full detailed error log of unhandledrejection
  public/index.html
Due: prettier --write

chore: :fire: updated gh concolusion workflow version
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

fix: handle Track JS error - {${some error}}
  src/app/App.jsx
  src/blockly/blocks/tools/loader.js
  src/blockly/index.js
  src/components/Header/Header.jsx
  src/utilities/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

fix: handling api calls by catch block
  src/common/appId.js
  src/components/ToolBox/save/save.jsx
Due: prettier --write, npx eslint --fix

fix: :fire: fixed issues with header icons for wallets
  src/assets/css/bot.scss
  src/assets/css/index.scss
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.scss
  src/components/Header/account-actions.jsx
  src/components/Header/account-menu.jsx
  src/constants.js
Due: prettier --write, npx eslint --fix

chore: :fire: updated endpoint
  src/storage.js
Due: prettier --write, npx eslint --fix

fix: :fire: fixed the notification icon position for wallet account
  src/components/Header/account-actions.jsx
Due: prettier --write, npx eslint --fix

chore: :fire: updated URL for manage funds and tradershub
  src/config.js
Due: prettier --write, npx eslint --fix

chore: :fire: updated dtrader URL
  src/config.js
Due: prettier --write, npx eslint --fix

chore: :fire: updated URL for dtrader in the app switcher
  src/components/Header/platform-dropdown.jsx
  src/config.js
Due: prettier --write, npx eslint --fix

chore: :bulb: added gtm code snippet for the binary bot
  public/index.html
Due: prettier --write

fix: TrackJS BBot: There was an error listing files from Google Drive - Error: {}
  src/utilities/integrations/GoogleDrive.js
  src/utilities/integrations/trackJSTrack.js
Due: prettier --write, npx eslint --fix

refactor: make double safety trackJS error
  src/utilities/integrations/GoogleDrive.js
Due: prettier --write, npx eslint --fix

restart the bot
  src/api-base.js
  src/blockly/bot/Interpreter.js
  src/blockly/bot/TradeEngine/OpenContract.js
  src/botPage/view/TradeInfoPanel/AnimateTrade.js
Due: prettier --write, npx eslint --fix

feat: updated the content and duration of deriv bot migration banner
  public/images/move-to-deriv.svg
  public/images/upgrade-to-deriv-bot.svg
  src/components/Banner/move-to-dbot-banner.jsx
  src/components/Banner/move-to-dbot-banner.scss
  src/components/common/deriv-app-modal/deriv-app-modal.scss
Due: prettier --write, npx eslint --fix

feat: added content change in banner
  public/images/ic-megaphone.svg
  src/components/Banner/fixed-dbot-banner.jsx
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write, npx eslint --fix

fix: fix header height in the modal
  src/components/common/deriv-app-modal/deriv-app-modal.scss
Due: prettier --write

fix: new migration banner translations
  src/translations/ach_UG/i10n.json
  src/translations/en/i10n.json
  src/translations/es_ES/i10n.json
  src/translations/fr_FR/i10n.json
  src/translations/pt_PT/i10n.json
  src/translations/ru_RU/i10n.json
  src/translations/th_TH/i10n.json
  src/translations/vi_VN/i10n.json
Due: none

chore: :fire: updated migration content
  src/components/Banner/fixed-dbot-banner.jsx
  src/components/Banner/move-to-dbot-banner.jsx
Due: prettier --write, npx eslint --fix

chore: :fire: updated var to retrigger the popup after content update
  src/components/Banner/move-to-dbot-banner.jsx
Due: prettier --write, npx eslint --fix

feature: dr implementation
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .gitignore
  vercel.dr.json
Due: none

fix: updated output dir
  vercel.dr.json
Due: none

fix: :fire: updated list style and indentation
  src/components/Banner/move-to-dbot-banner.jsx
  src/components/Banner/move-to-dbot-banner.scss
Due: prettier --write, npx eslint --fix

chore: :fire: removed unwanted space
  src/components/Banner/move-to-dbot-banner.jsx
Due: prettier --write, npx eslint --fix

fix: :fire: made the url bold
  src/components/Banner/fixed-dbot-banner.scss
Due: prettier --write

fix: translation fix for migration message
  src/translations/ach_UG/i10n.json
  src/translations/en/i10n.json
  src/translations/es_ES/i10n.json
  src/translations/fr_FR/i10n.json
  src/translations/pt_PT/i10n.json
  src/translations/ru_RU/i10n.json
  src/translations/th_TH/i10n.json
  src/translations/vi_VN/i10n.json
Due: none

fix: release production yml update
  .github/workflows/release_production.yml
Due: none

fix: vercel deployment
  .github/workflows/release_production.yml
Due: none

:chore :fire: updated gitignore
  .gitignore
Due: none
