Repository deriv-com/binary-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix, npx stylelint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,mustache,css,scss,}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix",
    "*.{css,scss}": "npx stylelint --fix"
}

chore: removed react-render-html package also added eslint-nullish-coalescing
  package-lock.json
  package.json
  src/botPage/view/deriv/components/tour/tour-targets.jsx
  src/common/utils/tools.js
Due: prettier --write, npx eslint --fix

fix: removed DMT5 and derivX from account switcher
  src/app.config.js
Due: prettier --write, npx eslint --fix

chore: moved index.js file at src root
  src/index.js
  webpack.config.cli.js
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

chore: :star-struck: moved config out also added alias
  .babelrc
  .eslintrc
  gulp/bundle.js
  gulpfile.babel.js
  package-lock.json
  package.json
  src/botPage/common/__tests__/Constants.js
  src/botPage/common/symbolApi/index.js
  src/botPage/common/tools.js
  src/botPage/view/blockly/blocks/after_purchase/check_result.js
  src/botPage/view/blockly/blocks/after_purchase/read_details.js
  src/botPage/view/blockly/blocks/indicators/bb.js
  src/botPage/view/blockly/blocks/indicators/bba.js
  src/botPage/view/blockly/blocks/indicators/macda.js
  src/botPage/view/blockly/blocks/shared.js
  src/botPage/view/blockly/blocks/ticks/candleInterval.js
  src/botPage/view/blockly/blocks/ticks/check_direction.js
  src/botPage/view/blockly/blocks/ticks/ohlc_values.js
  src/botPage/view/blockly/blocks/ticks/readOhlc.js
  src/botPage/view/blockly/blocks/tools/balance.js
  src/botPage/view/blockly/blocks/tools/candle/ohlc_values_in_list.js
  src/botPage/view/blockly/blocks/tools/candle/read_ohlc_obj.js
  src/botPage/view/blockly/blocks/tools/notify.js
  src/botPage/view/blockly/blocks/trade/backwardCompatibility.js
  src/botPage/view/blockly/blocks/trade/components.js
  src/botPage/view/blockly/blocks/trade/index.js
  src/botPage/view/blockly/blocks/trade/tradeOptions.js
  src/botPage/view/blockly/index.js
  src/botPage/view/blockly/relationChecker.js
  src/botPage/view/blockly/utils.js
  src/botPage/view/deriv/api.js
  src/botPage/view/deriv/blockly-worksace.js
  src/botPage/view/deriv/layout/Footer/components/network-status.jsx
  src/botPage/view/deriv/layout/Header/components/tab-content.jsx
  src/common/footer-checks.js
  src/common/lang.js
  src/config.js
  src/index.js
  webpack.config.cli.js
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

chore: reverted package.json
  package-lock.json
Due: none

chore: :star: updated project version from undefined to 1.0.0
  package.json
Due: none

chore: :star: added alias config in the .eslintrc
  package-lock.json
  src/config.js
Due: prettier --write, npx eslint --fix

chore: :star: added alias config in the .eslintrc -1
  .eslintrc
  package-lock.json
  package.json
  webpack.config.cli.js
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

chore: :star: added alias config in the .eslintrc -2
  webpack.config.web.js
Due: prettier --write, npx eslint --fix

Update README.md
  README.md
Due: prettier --write

Update index.html
  index.html
Due: prettier --write

Update bot.html
  bot.html
Due: prettier --write

added code for performance mark in binary
  src/botPage/view/deriv/api-middleware.js
  src/botPage/view/deriv/api.js
  src/botPage/view/deriv/layout/ToolBox/ToolBox.jsx
Due: prettier --write, npx eslint --fix

Revert "fix: :fire: fixed unable to login issue"
  src/storage.js
Due: prettier --write, npx eslint --fix

fix: added console log for performance
  src/botPage/view/deriv/api-middleware.js
Due: prettier --write, npx eslint --fix

fix: added ticks-history to performance mark
  src/botPage/view/deriv/api-middleware.js
Due: prettier --write, npx eslint --fix

fix:getOAuthURL
  src/common/appId.js
Due: prettier --write, npx eslint --fix

Update config.yml
  .circleci/config.yml
Due: none

fix: removed duplicte active symbol calls
  src/api-base.js
  src/botPage/common/TicksService.js
  src/botPage/common/symbolApi/index.js
Due: prettier --write, npx eslint --fix

Create Chaotic trading bot
  Chaotic trading bot
Due: none

fix: proposal open contract
  src/api-base.js
  src/blockly/bot/TradeEngine/OpenContract.js
  src/botPage/view/TradeInfoPanel/TradeTable.js
Due: prettier --write, npx eslint --fix

fix: for trackJS error
  plugins/fetch-blockly-translations.js
  src/assets/css/_blockly-toolbox.scss
  src/blockly/index.js
  src/botPage/common/symbolApi/index.js
  src/common/lang.js
  src/storage.js
Due: prettier --write, npx eslint --fix, npx stylelint --fix

fix: for trackJS error
  plugins/fetch-blockly-translations.js
  src/blockly/index.js
  src/botPage/common/symbolApi/index.js
  src/common/lang.js
Due: prettier --write, npx eslint --fix

fix: for trackJS error
  src/common/lang.js
Due: prettier --write, npx eslint --fix

feat: added respected actions for circle-ci config
  .github/actions/build/action.yml
  .github/actions/git_checkout_from_cache/action.yml
  .github/actions/npm_install/action.yml
  .github/actions/publish_to_pages_production/action.yml
  .github/actions/publish_to_pages_staging/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/test/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: removed unnecessary step from test workflow
  .github/workflows/test.yml
Due: none

feat: added release flows and updated actions
  .github/actions/git_checkout_from_cache/action.yml
  .github/actions/publish_to_cf_pages_production/action.yml
  .github/actions/publish_to_cf_pages_staging/action.yml
  .github/actions/publish_to_pages_staging/action.yml
  .github/actions/setup_node/action.yml
  .github/versioning/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/test.yml
Due: none

refactor: finished test workflow setup
  .github/actions/git_checkout_from_cache/action.yml
  .github/actions/invalidate_npm_cache/action.yml
  .github/actions/npm_install/action.yml
  .github/actions/npm_install_from_cache/action.yml
  .github/actions/restore_cache/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: finalized all workflows and actions
  .github/actions/build/action.yml
  .github/actions/invalidate_npm_cache/action.yml
  .github/actions/npm_install_from_cache/action.yml
  .github/actions/publish_to_cf_pages_production/action.yml
  .github/actions/publish_to_cf_pages_staging/action.yml
  .github/actions/restore_cache/action.yml
  .github/actions/send_slack_notifications/action.yml
  .github/actions/setup_node/action.yml
  .github/actions/test/action.yml
  .github/actions/versioning/action.yml
  .github/versioning/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
  .github/workflows/test.yml
Due: none

fix: fixed missed EOL
  .github/actions/setup_node/action.yml
Due: none

fix: resolved pr comment
  .github/actions/test/action.yml
Due: none

Update .github/actions/versioning/action.yml
  .github/actions/versioning/action.yml
Due: none

Update .github/workflows/release_staging.yml
  .github/workflows/release_staging.yml
Due: none

chore: changed actions/checkout version to be the same with other workflows
  .github/workflows/test.yml
Due: none

fix: resolved pr comments
  .github/actions/publish_to_cf_pages_production/action.yml
  .github/actions/publish_to_cf_pages_staging/action.yml
  .github/actions/setup_node/action.yml
  .github/workflows/test.yml
Due: none

fix: fixed indentation inconsistency
  .github/actions/publish_to_cf_pages_staging/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

fix: fixed indentation inconsistency
  .github/workflows/test.yml
Due: none

fix: added environment property to workflows
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

ci: upload to staging branch of CF
  .github/actions/publish_to_cf_pages_staging/action.yml
Due: none
