Repository deriv-com/binary-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,html,mustache,css,scss,}": "prettier --write",
    "*.{js,jsx,ts,tsx}": "npx eslint --fix"
}

ci: remove circleci config as we migrated it to github actions
  .circleci/config.yml
Due: none

build: Added docker deployment action and workflows
  .github/actions/build_and_push_docker_image/action.yml
  .github/workflows/release_production.yml
  .github/workflows/release_staging.yml
Due: none

ci: use k8s production namespace
  .github/workflows/release_production.yml
Due: none

ci: use k8s staging namespace
  .github/workflows/release_staging.yml
Due: none

ci: rename the env secret
  .github/workflows/release_production.yml
Due: none

ci: pass correct app_name
  .github/actions/build_and_push_docker_image/action.yml
Due: none

chore: increase frequency of redirection banner
  src/components/Banner/move-to-dbot-banner.jsx
Due: prettier --write, npx eslint --fix

fix: release production workflow
  .github/workflows/release_production.yml
Due: none

feat: add PR testing links deployment on binary bot
  .github/workflows/generate_preview_link.yml
  .github/workflows/pre_generate_preview_link.yml
Due: none

feat: move checkout after verify
  .github/workflows/generate_preview_link.yml
  .github/workflows/pre_generate_preview_link.yml
Due: none

fix: remove extra checkout
  .github/workflows/generate_preview_link.yml
Due: none

Dummy change to README.md
  README.md
Due: prettier --write

feat: change generate_preview_link command order
  .github/workflows/generate_preview_link.yml
Due: none

chore: removed tour from binary bot
  src/components/Header/account-actions.jsx
  src/components/Header/auth-buttons.jsx
Due: prettier --write, npx eslint --fix

feat: add icons for wallet account switcher
  public/images/wallet/btc-dark.svg
  public/images/wallet/btc.svg
  public/images/wallet/eth-dark.svg
  public/images/wallet/eth.svg
  public/images/wallet/ic-wallet-deriv-demo-dark.svg
  public/images/wallet/ic-wallet-deriv-demo-light.svg
  public/images/wallet/ic-wallet-options-dark.svg
  public/images/wallet/ic-wallet-options-light.svg
  public/images/wallet/ltc-dark.svg
  public/images/wallet/ltc.svg
  public/images/wallet/usdc-dark.svg
  public/images/wallet/usdc.svg
  public/images/wallet/usdt-dark.svg
  public/images/wallet/usdt.svg
Due: none

feat: add wallet account switcher with required content
  src/components/Header/account-dropdown.jsx
  src/components/Header/account-wallet-dropdown.jsx
  src/components/common/text/text.jsx
Due: prettier --write, npx eslint --fix

chore: remove dark mode wallet icons
  public/images/wallet/btc-dark.svg
  public/images/wallet/eth-dark.svg
  public/images/wallet/ic-wallet-deriv-demo-dark.svg
  public/images/wallet/ic-wallet-options-dark.svg
  public/images/wallet/ltc-dark.svg
  public/images/wallet/usdc-dark.svg
  public/images/wallet/usdt-dark.svg
  public/images/wallet/usdt.svg
Due: none

chore: add eusdt wallet icon
  public/images/wallet/eusdt.svg
Due: none

fix: warning of prop-types
  src/components/common/text/text.jsx
Due: prettier --write, npx eslint --fix

feat: implement wallet account switcher logic
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.scss
  src/components/Header/account-actions.jsx
  src/components/Header/account-dropdown.jsx
  src/components/Header/account-menu.jsx
  src/redux-store/client-slice.js
Due: prettier --write, npx eslint --fix

feat: add styles for wallet dropdown
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.scss
Due: prettier --write, npx eslint --fix

feat: add styles for container wallet dropdown
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
Due: prettier --write

feat: add more styles for container wallet dropdown
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
  src/components/common/text/text.jsx
Due: prettier --write, npx eslint --fix

fix: styles of the button of the account wallet switcher and account switcher mode without wallet acc
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/account-menu.jsx
  src/components/Header/header.scss
Due: prettier --write, npx eslint --fix

fix: filtration accounts by category
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
Due: prettier --write, npx eslint --fix

fix: add tusdt wallet icon
  public/images/wallet/tusdt.svg
Due: none

feat: add badges demo & malta, add background colors for each wallet icon and etc
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.scss
  src/components/Header/account-menu.jsx
  src/components/Header/header.scss
Due: prettier --write, npx eslint --fix

fix: sonar cloud issues
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
  src/components/Header/account-menu.jsx
  src/components/common/text/text.jsx
Due: prettier --write, npx eslint --fix

fix: sonar cloud issues(2)
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
  src/components/Header/WalletAccountSwitcher/wallet-icon.jsx
Due: prettier --write, npx eslint --fix

fix: remove ref
  src/components/Header/WalletAccountSwitcher/wallet-content.jsx
Due: prettier --write, npx eslint --fix

fix: fixed unable to login issue
  src/api-base.js
  src/common/appId.js
  src/components/Header/auth-buttons.jsx
  src/config.js
Due: prettier --write, npx eslint --fix

fix: handle already subscribed error
  src/blockly/blockly-worksace.js
  src/blockly/bot/Interpreter.js
  src/blockly/bot/TradeEngine/index.js
  src/botPage/common/TicksService.js
  src/utils.js
Due: prettier --write, npx eslint --fix

fix: replace `deposit` button with `manage funds` and no redirect
  src/config.js
Due: prettier --write, npx eslint --fix

fix: Hide cashier and traders hub from header for wallet account
  src/components/Header/menu-links.jsx
Due: prettier --write, npx eslint --fix

feat: ui for mobile version of wallet account switcher
  src/assets/css/index.scss
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
Due: prettier --write, npx eslint --fix

feat: manage funds btn for mobile version of wallet account switcher
  src/assets/css/index.scss
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
Due: prettier --write, npx eslint --fix

feat: add event handler manage funds btn for mobile version of wallet account switcher
  src/assets/css/index.scss
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.jsx
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
Due: prettier --write, npx eslint --fix

feat: add event handler manage funds btn for mobile version of wallet account switcher(2)
  src/assets/css/index.scss
  src/components/Header/WalletAccountSwitcher/account-wallet-dropdown.scss
Due: prettier --write

chore: remove console.log
  src/components/Header/menu-links.jsx
Due: prettier --write, npx eslint --fix
